.summary {
  display: flex;
  align-items: start;
}

.summary__photo {
  width: 400px;
  height: 400px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
}

.summary__about {
  padding: 20px;
  font-size: 20px;
}
