.header {
  background-color: rgb(92, 59, 59);
}

.main {
  background-color: rgb(85, 162, 95);
}

.site-section {
  background-color: rgb(185, 165, 53);
}

.footer {
  background-color: rgb(85, 104, 157);
}
