.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 22px;
}

.nav__list {
  display: flex;
  column-gap: 50px;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  row-gap: 20px;
  /* stylization scrollbar is FireFox */
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

.main::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.site-section {
  width: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;
}

.site-section__paragraph {
  font-size: 20px;
}

.footer__list {
  display: flex;
  font-size: 20px;
  column-gap: 50px;
}

.footer__item {}

.footer__link {}

.footer__link_github {}

.footer__link_logo {}

.footer__link_course {}
