/* DARK-LIGHT-TALES:-Ocean-of-Memories */
:root {
  --color-background: #5e6f7f;
  --color-section: #556675;
  --color-section-border: #75889c;
  --color-border: #2a343c;
  --color-text: #b3b9bf;
  --color-title: #1e252b;
}
